<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <title>{% block title %}RTA in Japan Twitter Client{% endblock %}</title>
</head>
<body>
<header class="nav has-background-primary">
    <div class="nav-left">
        <span class="nav-item is-size-1">RTA in Japan Twitter Client</span>
    </div>
    <div class="nav-right">    
    </div>
</header>
{% block content %}{% endblock %}
{% block footer %}
<hr>
<footer class="footer">
    <address class="content">
        &copy; Copyright 2019 yagamuu(@yagamuu)<br>
    </address>
</footer>
{% endblock %}
</html>