{% extends "base.tpl.html" %}
{% block title %}RTA in Japan Twitter Client{% endblock %}
{% block content %}

{% if errors|length > 0 %}
    {% for error in errors %}
        <div class="notification is-danger">
            <button class="delete"></button>
            {{ error|e }}
        </div>
    {% endfor %}
{% endif %}

{% if informations|length > 0 %}
    {% for info in informations %}
        <div class="notification is-info">
            <button class="delete"></button>
            {{ info.text }}: <a href="{{ info.url }}" target="_blank">{{ info.url }}</a>
        </div>
    {% endfor %}
{% endif %}

<section class="section">
<form enctype="multipart/form-data" method="post" name="tweetForm">
    <div class="field">
        <h4 class="title is-4">ツイート投稿</h4>
        <div class="control">
            <textarea name="body" class="textarea" placeholder="ツイート内容を書いてください"> #RTAinJapan</textarea>
        </div>
        <span id="textLength">12</span>
    </div>
    {% for i in range(0, 3) %}
        <div class="file has-name">
            <label class="file-label">
            <input accept="image/jpeg,image/png,image/webp,image/gif,video/mp4,video/quicktime" class="file-input" type="file" name="media[]">
            <span class="file-cta">
                <span class="file-icon">
                <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                    {% if i == 0 %}
                        画像/動画ファイルを選択してください
                    {% else %}
                        画像ファイルを選択してください
                    {% endif %}
                </span>
            </span>
            <span class="file-name"></span>
            </label>
        </div>
    {% endfor %}
    <div class="field is-grouped">
        <div class="control">
            <button id="send" class="button is-link">Submit</button>
        </div>
    </div>
    <input type="hidden" id="deleteTweet" name="delete" value="">
    <input type="hidden" id="token" name="token" value="{{ token }}">
</form>
</section>

<section class="section">
<div class="columns">
    <div class="column is-half">
        <h4 class="title is-4">過去ツイート一覧</h4>
        {% if user_timelines|length > 0 %}
            {% for user_timeline in user_timelines %}
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="{{ user_timeline.user.profile_image_url_https }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ user_timeline.user.name }}</p>
                                <p class="subtitle is-6">@{{ user_timeline.user.screen_name }}</p>
                            </div>
                        </div>
                        <div class="content">
                            {{ user_timeline.text }}
                            <br>
                            <a href="https://twitter.com/{{ user_timeline.user.screen_name }}/status/{{ user_timeline.id_str }}" target="_blank"><time datetime="">{{ user_timeline.created_at|date('U')|date('Y年m月d日 H:i:s') }}</time></a>
                            <div class="control">
                                <button id="send" class="button is-danger button-delete" data-target="modal-delete" data-id="{{ user_timeline.id_str }}">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="column is-half">
        <h4 class="title is-4">メンション一覧</h4>
        {% if mentions_timelines|length > 0 %}
            {% for mentions_timeline in mentions_timelines %}
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="{{ mentions_timeline.user.profile_image_url_https }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{ mentions_timeline.user.name }}</p>
                                <p class="subtitle is-6">@{{ mentions_timeline.user.screen_name }}</p>
                            </div>
                        </div>
                        <div class="content">
                            {{ mentions_timeline.text }}
                            <br>
                            <a href="https://twitter.com/{{ mentions_timeline.user.screen_name }}/status/{{ mentions_timeline.id_str }}" target="_blank"><time datetime="">{{ mentions_timeline.created_at|date('U')|date('Y年m月d日 H:i:s') }}</time></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
</section>
<div id="modal-delete" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">以下のツイートを削除しようとしています。よろしいですか？</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success executeDelete" data-id="">はい</button>
            <button class="button modal-close-button">いいえ</button>
        </footer>
    </div>
</div>
<script type="text/javascript" src="./js/index.js" defer></script>
{% endblock %}